<h1>Hey <%= @user.name %> !</h1>
<h2>Here are all your <strong>cutie</strong> bookings :</h2>
<ul>
  <% @bookings.each do |booking| %>
    <li><%= cl_image_tag(booking.animal.photo.key,
      width: 100, height: 100, crop: :fill, gravity: :face) %></li>
    <li><%= booking.animal.name %></li>
    <li><%= booking.date %></li>
    <li><%= link_to "Details", animal_path(booking.animal), class: "nav-link" %></li>

    <li><%= link_to "Remove",
                booking_path(booking),
                method: :delete,
                data: { confirm: "Are you sure?" } %></li>
  <% end %>
</ul>

<h2>And here, all your <strong>lovable</strong> mini crottes :</h2>
<ul>
  <% @animals.each do |animal| %>
    <li><%= cl_image_tag(animal.photo.key,
      width: 100, height: 100, crop: :fill, gravity: :face) %></li>
    <li><%= animal.name %></li>
    <li><%= link_to "Details", animal_path(animal), class: "nav-link" %></li>
     <%= link_to "Remove",
                  animal_path(animal),
                  method: :delete,
                  data: { confirm: "Are you sure?" },
                  class: "nav-link" %>
    <%= link_to "Update", edit_animal_path(animal), class: "nav-link" %>
  <% end %>
</ul>

<%= link_to "Add a mini crotte", new_animal_path, class: "nav-link" %>
<br>
<%= link_to "All the mini crottes", animals_path, class: "nav-link" %>
