<%= form_tag animals_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find an animal"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
<ul>
  <% @animals.each do |animal| %>
  <div class="card" style="width: 18rem;">
   <div class="card-body">
      <h5 class="card-title"><%= animal.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= animal.species %></h6>
      <p class="card-text"><%= animal.description %></p>
      <p class="card-text"><%= animal.price %></p>
      <a href="#" class="card-link"><%= link_to animal.name, animal_path(animal) %></a>
    </div>
  </div>
  <% end %>
</ul>

<div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
