<div class="ms-4">
  <div class='row'>
    <div class="col-8 px-2 ">
      <div class='row mt-2'>
        <% @animals.each do |animal| %>
          <div class="col-4 my-2">
            <div class= "card h-100 rounded-pill">
              <%= link_to animal_path(animal), class: "m-3" do %>
                <img class="card-img-top rounded-circle" src=<%= cl_image_path animal.photo.key, height: 200, width: 200, crop: :fill %> alt="Card image cap">
                <div class="card-body text-center">
                  <h3 class="card-title"><strong><%= animal.name %></strong></h5>
                  <h6 class="card-subtitle mb-2"><%= animal.species %></h6>
                  <p class="card-text"><%= animal.description %></p>
                  <p class="card-text"><%= animal.price %>€/day</p>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <div class='col-4'>
    <div id="map" style="width: 100%; height: 100vh;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
