<div class="container has-bg-img">
  <%# le background-img ne foncctionne pas %>
  <img class="bg-img" src="../../images/background.jpg" alt="...">
  <div class="d-flex justify-content-center">
    <div class="text-center">
      <h1>Wow, <%= @animal.name.capitalize %> is the cutest!</h1>
      <div class="card">
        <div class="">
          <img class="card-img-top rounded-circle" src=<%= cl_image_path @animal.photo.key, height: 200, width: 200, crop: :fill %> alt="Card image cap">
        </div>
        <div class="card-body text-center">
          <p><%= @animal.description %></p>
        </div>
        <div>
          <p>Price: <%= @animal.price %> €/day.</p>
          <p>Address: <%= @animal.address %>.</p>
        </div>
      </div>
    </div>
  </div>
  <div>
      <ul class="d-flex justify-content-around mx-5 mt-4">
        <a href= "<%= new_animal_booking_path(@animal) %>" class="btn btn-outline-dark">Book this cutie!</a>
        <a href= "<%= animals_path %>" class="btn btn-outline-dark">Back to the list</a>
      </ul>
  </div>
</div>
