<div id="show">
  <div class="container container-show">
    <div class="w-100 text-center">
        <h1 class="p-4"><strong>Wow, <%= @animal.name.capitalize %> is the cutest!</strong></h1>
        <div class="card card-show align-items-center p-4 border-2">
          <div class="m-3 w-50">
            <%= cl_image_tag @animal.photo.key, class: 'pet-img', crop: :fill %>
          </div>
          <div class="card-body w-100">
            <p><%= @animal.description %></p>
            <div>
              <p><strong>Price:</strong> <%= @animal.price %> €/day.</p>
              <p><strong>Address:</strong> <%= @animal.address %>.</p>
            </div>
            <div class="w-100 d-flex justify-content-center">
                <a href= "<%= new_animal_booking_path(@animal) %>" class="btn btn-ghost btn-lg mx-5">Book this cutie!</a>
                <a href= "<%= animals_path %>" class="btn btn-ghost btn-lg mx-5">Back to the list</a>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
